<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todolist</title>
    <script src="https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
    <script src="https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>

    <style>
        .button
        {
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            padding: 4px 10px;
            text-align: center;
            background-color: white;
            color: black;
            border: 2px solid grey;
            border-radius:5px;
        }

        .button:hover
        {
            background-color: grey;
            color: white;
        }

    </style>
</head>
<body>
    <!-- title -->
    <div id="title"></div>

    <!-- mainlist -->
    <div id="todolist"></div>

    <!-- show the list-->
    <table border="1" bgcolor="white" frame="void" rules="rows" width="100%">
        <!-- change the list order -->
        <form name="order" action="/todolist/" method="post">
            <select name="seq">
                <option value="0" selected>Time Created</option>
                <option value="1">Priority</option>
                <option value="2">Expire Date</option>
            </select>
            <button type="submit">Order</button><br>
        </form>
        <tr><th></th></tr>

        {% for item in todolist %}
            <tr>
                <td>

                    <label>Name: {{ item.name }}</label><br>
                    <label>Content: {{ item.content }}</label><br>
                    <label>Expire Date: {{ item.expire_date }}</label><br>

                    {% ifequal item.status '0' %}
                        <!-- change the status -->
                        <form name="status" action="/todolist/status" method="POST">
                            {% csrf_token %}
                            <label>Status: Pending</label>
                            <input type="hidden" name="id" value="{{ item.id }}">
                            <button class="button" type="submit">√</button>
                        </form>
                    {% else %}
                        <label>Status: Complete</label><br>
                    {% endifequal %}

                    {% ifequal item.priority '1' %}
                        <label>Priority: Low</label><br>
                    {% else %}
                        <label>Priority: High</label><br>
                    {% endifequal %}

                    <table>
                        <tr>
                            <th>
                                <!-- edit button -->
                                <form name="edit" action="/todolist/edit" method="post">
                                    <input type="hidden" name="id" value="{{ item.id }}">
                                    <button class="button" type="submit">Edit</button><br>
                                </form>
                            </th>

                            <th>
                                <!-- delete button -->
                                <form name="delete" action="/todolist/delete" method="post">
                                    <input type="hidden" name="id" value="{{ item.id }}">
                                    <button class="button" type="submit">Delete</button><br>
                                </form>
                            </th>
                        </tr>
                    </table>

                </td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>


<script type="text/babel">
    //title
    ReactDOM.render
    (
        <h1>Todolist</h1>,
        document.getElementById('title')
    );


    //add an item
    class AddPanel extends React.Component{
        constructor(props) {
            super(props);
            this.state = {
                name: '',
                content: '',
                expire_date: '',
                status: 0,
                priority: 1,
            };
            this.handleChange = this.handleChange.bind(this);
        }

        handleChange(event) {
            this.setState({[event.target.name]: event.target.value});
        }

        render() {
            return (
                <form name="add" action="/todolist/add" method="post">
                    <div>
                        Name:<br />
                        <input name="name" onChange={this.handleChange} /><br />
                        Content:<br />
                        <input name="content" onChange={this.handleChange} /><br />
                        Expire Date:<br />
                        <input type="date" name="expire_date" onChange={this.handleChange} /><br />
                        Priority:
                        <select name="priority" onChange={this.handleChange}>
                            <option value="1" selected>Low</option>
                            <option value="2">High</option>
                        </select><br />
                        <button type="submit">Add</button>
                    </div>
                </form>
            );
        }
    };

    ReactDOM.render(
        <div>
            <AddPanel />
            <br />
        </div>,
        document.getElementById('todolist')
    );

</script>