<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todolist</title>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>

    <style>
        .button
        {
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            padding: 4px 10px;
            text-align: center;
            background-color: white;
            color: black;
            border: 2px solid grey;
            border-radius:5px;
        }

        .button:hover
        {
            background-color: grey;
            color: white;
        }

    </style>
</head>
<body>
    <!-- title -->
    <div id="title"></div>

    <!-- functions -->
    <div id="funcpanel"></div>

    <!-- show the list-->
    <table border="1" bgcolor="white" frame="void" rules="rows" width="100%">
        <tr><th></th></tr>

        {% for item in todolist %}
            <tr>
                <td>
                    <div class="origin{{ item.id }}" style="display: inline">
                        <div id="origin{{ item.id }}"></div>
                        <script type="text/babel">
                            class Status extends React.Component{
                                render() {
                                    if (this.props.status=='0') {
                                        //change status
                                        return (
                                            <form name="status" action="/todolist/status" method="POST">
                                                <input type="hidden" name="id" value={this.props.id}  />
                                                <label>Status: Pending</label>
                                                <button class="button" type="submit">√</button>
                                            </form>
                                        );
                                    }
                                    else {
                                        return (
                                            <div>
                                                <label>Status: Complete</label><br />
                                            </div>
                                        );
                                    }
                                }
                            };

                            class Priority extends React.Component{
                                render() {
                                    if (this.props.priority=='1') {
                                        return (
                                            <div>
                                                <label>Priority: Low</label><br />
                                            </div>
                                        );
                                    }
                                    else {
                                        return (
                                            <div>
                                                <label>Priority: High</label><br />
                                            </div>
                                        );
                                    }
                                }
                            };

                            ReactDOM.render
                            (
                                <div>
                                    <label>Name: {{ item.name }}</label><br />
                                    <label>Content: {{ item.content }}</label><br />
                                    <label>Expire Date: {{ item.expire_date }}</label><br />
                                    <Status status="{{ item.status }}" id="{{ item.id }}" />
                                    <Priority priority="{{ item.priority }}" />
                                </div>,
                                document.getElementById('origin'+{{ item.id }})
                            );
                        </script>

                        <table>
                            <tr>
                                <th>
                                    <!-- edit button -->
                                    <button class="button" onclick="show({{ item.id }})">Edit</button><br>
                                </th>

                                <th>
                                    <!-- delete button -->
                                    <form name="delete" action="/todolist/delete" method="post">
                                        <input type="hidden" name="id" value="{{ item.id }}">
                                        <button class="button" type="submit">Delete</button><br>
                                    </form>
                                </th>
                            </tr>
                        </table>

                    </div>

                    <div class="edit{{ item.id }}" style="display: none">
                        <form name="add" action="/todolist/edit" method="post">
                            <input type="hidden" name="id" value="{{ item.id }}">
                            Name:<br>
                            <input name="name" value="{{ item.name }}"><br>
                            Content:<br>
                            <input name="content" value="{{ item.content }}"><br>
                            Expire Date:<br>
                            <input type="date" name="expire_date" value="{{ item.expire_date }}"><br>
                            Status:
                            <select name="status">
                                <option value="0" selected>Pending</option>
                                <option value="1">Complete</option>
                            </select><br>
                            Priority:
                            <select name="priority">
                                <option value="1" selected>Low</option>
                                <option value="2">High</option>
                            </select><br>

                            <table>
                                <tr>
                                    <th>
                                        <!-- cancel button -->
                                        <button class="button" type="button" onclick="show({{ item.id }})">Cancel</button><br>
                                    </th>

                                    <th>
                                        <!-- submit button -->
                                        <button class="button" type="submit">Submit</button><br>
                                    </th>
                                </tr>
                            </table>
                            <br>
                        </form>
                    </div>


                </td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>


<script type="text/babel">
    //title
    ReactDOM.render
    (
        <h1>Todolist</h1>,
        document.getElementById('title')
    );


    //add an item
    class AddPanel extends React.Component{
        render() {
            return (
                <form name="add" action="/todolist/add" method="post">
                    Name:<br />
                    <input name="name" /><br />
                    Content:<br />
                    <input name="content" /><br />
                    Expire Date:<br />
                    <input type="date" name="expire_date" /><br />
                    Priority:
                    <select name="priority">
                        <option value="1" selected>Low</option>
                        <option value="2">High</option>
                    </select><br />
                    <button type="submit">Add</button>
                </form>
            );
        }
    };

    //order
    class OrderPanel extends React.Component{
        render() {
            return (
                <form name="order" action="/todolist/" method="post">
                    <select name="seq">
                        <option value="0" selected>Time Created</option>
                        <option value="1">Priority</option>
                        <option value="2">Expire Date</option>
                    </select>
                    <button type="submit">Order</button><br />
                </form>
            );
        }
    }

    //function panel
    ReactDOM.render(
        <div>
            <AddPanel />
            <br />
            <OrderPanel />
            <br />
        </div>,
        document.getElementById('funcpanel')
    );

</script>

<script>
    function show(id)
    {
        var origins = document.getElementsByClassName('origin'+id);
        var edits = document.getElementsByClassName('edit'+id);

        origin = origins[0];
        edit = edits[0];

        if (origin.style.display=="none") {
            origin.style.display="inline";
            edit.style.display="none";
        }
        else {
            origin.style.display="none";
            edit.style.display="inline";
        }
    }
</script>