<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todolist</title>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>

    <script type="text/babel">
        //add an item
        class AddPanel extends React.Component{
            render() {
                return (
                    <form name="add" action="/todolist/add" method="post">
                        <table>
                            <tr>
                                <td>Name:</td>
                                <td><input name="name" /></td>
                            </tr>
                            <tr>
                                <td>Content:</td>
                                <td><input name="content" /></td>
                            </tr>
                            <tr>
                                <td>Expire Date:</td>
                                <td><input type="date" name="expire_date" /></td>
                            </tr>
                            <tr>
                                <td>Priority:</td>
                                <td>
                                    <select className="select" name="priority">
                                        <option value="1" selected>Low</option>
                                        <option value="2">High</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <br/>
                        <button class="button" type="submit">Add</button>
                    </form>
                );
            }
        };

        //change the order
        class OrderPanel extends React.Component{
            render() {
                return (
                    <form name="order" action="/todolist/" method="post">
                        <table>
                            <tr>
                                <td>
                                    <select className="select" name="seq">
                                        <option value="0" selected>Time Created</option>
                                        <option value="1">Priority</option>
                                        <option value="2">Expire Date</option>
                                    </select>
                                </td>
                                <td><button className="button" type="submit">Order</button></td>
                            </tr>
                        </table>
                        <br/>
                    </form>
                );
            }
        }

        //status entry
        function Status(props) {
            if (props.status==0) {
                //change status
                return (
                    <form name="status" action="/todolist/status" method="POST">
                        <input type="hidden" name="id" value={props.id}  />
                        <button class="button" type="submit">√</button>
                    </form>
                );
            }
            return <div />;
        };

        //priority entry
        function Priority(props) {
            if (props.priority==1) {
                return (
                    <div>
                        <label>Priority: Low</label><br />
                    </div>
                );
            }
            return (
                <div>
                    <label>Priority: High</label><br />
                </div>
            );
        };

        class Item extends React.Component {
            constructor(props) {
                super(props);
                this.state = {edit: false};
            }

            handleEditClick() { this.setState({edit: true}); }
            handleCancelClick() { this.setState({edit: false}); }

            //button for switching the functions
            Button(props) {
                return (
                    <button class="button" onClick={props.onClick}>
                        {props.text}
                    </button>
                );
            }

            //switching panels
            Switch(props) {
                if (props.edit) {
                    return (
                        <Edit
                            id={props.id}
                            name={props.name}
                            content={props.content}
                            expire_date={props.expire_date}
                            status={props.status}
                            priority={props.priority}
                        />
                    );
                }
                return (
                    <Origin
                        id={props.id}
                        name={props.name}
                        content={props.content}
                        expire_date={props.expire_date}
                        status={props.status}
                        priority={props.priority}
                    />
                );
            }

            render() {
                let button;

                if (this.state.edit) {
                    button =
                        <this.Button
                            onClick={this.handleCancelClick.bind(this)}
                            text="Cancel"
                        />;
                }
                else {
                    button =
                        <this.Button
                            onClick={this.handleEditClick.bind(this)}
                            text="Edit"
                        />;
                }

                return (
                    <div>
                        {button}
                        <this.Switch
                            edit={this.state.edit}
                            id={this.props.id}
                            name={this.props.name}
                            content={this.props.content}
                            expire_date={this.props.expire_date}
                            status={this.props.status}
                            priority={this.props.priority}
                        />
                    </div>
                );
            }
        }

        function Edit(props) {
            return (
                <div>
                    <form name="add" action="/todolist/edit" method="post">
                        <input type="hidden" name="id" value={props.id} />
                        Name:<br />
                        <input name="name" value={props.name} /><br />
                        Content:<br />
                        <input name="content" value={props.content} /><br />
                        Expire Date:<br />
                        <input type="date" name="expire_date" value={props.expire_date} /><br />
                        Status:
                        <select class="select" name="status">
                            <option value="0" selected>Pending</option>
                            <option value="1">Complete</option>
                        </select><br />
                        Priority:
                        <select class="select" name="priority">
                            <option value="1" selected>Low</option>
                            <option value="2">High</option>
                        </select><br />
                        <button class="button" type="submit">Submit</button><br />
                    </form>
                </div>
            );
        }

        class Origin extends React.Component {
            constructor(props) {
                super(props);
                this.state = {opacity: 1.0 - this.props.status * 0.7};
            }

            render() {
                return (
                    <div>
                        <div style={this.state}>
                            <label>Name: {this.props.name}</label><br />
                            <label>Content: {this.props.content}</label><br />
                            <label>Expire Date: {this.props.expire_date}</label><br />
                            <Priority priority={this.props.priority} />
                        </div>

                        <table>
                            <tr>
                                <th>
                                    <Status status={this.props.status} id={this.props.id} />
                                </th>
                                <th>
                                    <form name="delete" action="/todolist/delete" method="POST">
                                        <input type="hidden" name="id" value={this.props.id} />
                                        <button class="button" type="submit">×</button><br />
                                    </form>
                                </th>
                            </tr>
                        </table>
                    </div>
                );
            }
        }
    </script>

    <style>
        .select
        {
            padding: 4px 10px;
            text-align: center;
            background-color: white;
            color: black;
            border: 2px solid grey;
            border-radius:5px;
        }

        .button
        {
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            padding: 4px 10px;
            text-align: center;
            background-color: white;
            color: black;
            border: 2px solid grey;
            border-radius:5px;
        }

        .button:hover
        {
            background-color: grey;
            color: white;
        }

    </style>
</head>
<body>
    <div align="center">
        <!-- title -->
        <div id="title"></div>
        <script type="text/babel">
            ReactDOM.render(
                <h1>Todolist</h1>,
                document.getElementById('title')
            );
        </script>

        <!-- functions -->
        <div id="funcpanel"></div>
        <script type="text/babel">
            ReactDOM.render(
                <div>
                    <AddPanel /><br />
                    <OrderPanel /><br />
                </div>,
                document.getElementById('funcpanel')
            );
        </script>

        <!-- show the list-->
        <table border="1" bgcolor="white" frame="void" rules="rows" width="40%">
            <tr><th></th></tr>

            {% for item in todolist %}
                <tr>
                    <td>
                        <!-- one item-->
                        <div id="item{{ item.id }}"></div>
                        <script type="text/babel">
                            ReactDOM.render(
                                <Item
                                    id="{{ item.id }}"
                                    name="{{ item.name }}"
                                    content="{{ item.content }}"
                                    expire_date="{{ item.expire_date }}"
                                    status="{{ item.status }}"
                                    priority="{{ item.priority }}"
                                />,
                                document.getElementById('item'+{{ item.id }})
                            );
                        </script>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>