<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todolist</title>
    <script src="https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
    <script src="https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
</head>
<body>

    <div id="todolist"></div>
    <script type="text/babel">
        ReactDOM.render
        (
            <h1>Todolist</h1>,
            document.getElementById('todolist')
        );
    </script>

    <!-- edit an item -->
    <form name="add" action="/todolist/edit_submit" method="post">
        {% csrf_token %}
        <div>
            {% for item in todolist %}
                <input type="hidden" name="id" value="{{ item.id }}">
                Name:<br>
                <input name="name" value="{{ item.name }}"><br>
                Content:<br>
                <input name="content" value="{{ item.content }}"><br>
                Expire Date:<br>
                <input type="date" name="expire_date" value="{{ item.expire_date }}"><br>
                Status:
                <select name="status">
                    <option value="0" selected>Pending</option>
                    <option value="1">Complete</option>
                </select><br>
                Priority:
                <select name="priority">
                    <option value="1" selected>Low</option>
                    <option value="2">High</option>
                </select><br>
                <button type="submit">Edit</button><br>
                <br>
            {% endfor %}
        </div>
    </form>


</body>
</html>